# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Cache
.cache/
.eslintcache

# macOS
.DS_Store

# VS Code
.vscode/

# IDE
.idea/

# Temporary files
*.tmp
*.temp